.home_container {
    width: 920px;
    margin: 0 auto;
    padding: 6px;
}

.titulo_postagens{

	color: #f7b600;
	text-align: center;
	font-size: 2.5em;

}

/*  Formatações Gerais */

.home_container p {
    
	text-align: justify;

}

.home_container img {
    
	display: block;
	margin: 0px auto;}